.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(126, 126, 126, 0.5);
  backdrop-filter: blur(5px); /* Apply blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #f7f7f7;
  padding: 4rem;

  width: max-content;
  border-radius: 12px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  max-width: max-content;
  text-align: center;

  display: flex;
  flex-direction: column;
}

#modal-header {
  font-size: 1.25rem;
  font-weight: 600;
}

#modal-title,
#modal-url,
#modal-rating {
  font-size: 1.15rem;
  margin: 1rem 0;
  font-weight: 400;
}

#modal-submit,
#modal-cancel {
  margin-top: 12px;
  padding: 15px 0px;
  background-color: #ffff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: #0f0f0f;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#modal-submit {
  color: #03c988;
}

#modal-submit:hover,
#modal-cancel:hover {
  background-color: #ffffff54;
}

#modal-submit:focus,
#modal-cancel:focus {
  outline: none;
}

#modal-url {
  width: fit-content;
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  .modal-overlay {
    width: 100%;
  }
  .modal-content {
    width: 100%;
    margin: 0 5rem;
  }

  #modal-header {
    font-size: 1.25rem;
    width: 100%;
    margin: 0.75rem 0;
  }

  #modal-title,
  #modal-url,
  #modal-rating {
    font-size: 0.85rem;
    margin: 0.5rem;
  }
}
